.section__posts
  padding-top: 86px
  background-color: #e3e3e3
  padding-bottom: 69px
  &--block
    max-width: 370px
  &--title
    max-width: 273px
  &--border
    background: url("../img/border-posts.png")
    max-width: 370px
  &--text
    max-width: 346px


