.buttons
  display: flex
  justify-content: center
.link
  text-decoration: none
  display: inline-block
  box-sizing: border-box
  font-family: $font-Montserrat
  font-weight: 700
  &:hover
    background-color: $primary-color
    color: #cecece