.top-description
  font-family: $font-Amsdam
  font-size: 20px
  font-weight: 400
  text-transform: uppercase
  text-align: center
  margin-bottom: 27px
.line
  margin: 0 auto 41px
  max-width: 186px
  height: 5px
  width: 100%
.top-text
  font-family: $font-Crimson
  font-size: 14px
  font-weight: 400
  text-align: center
  line-height: 25px
  max-width: 1026px
  width: 100%
  margin: 0 auto
